<launch>
    <include file="$(find mr_roboto)/launch/bringup.launch"/>
    <include file="$(find mr_roboto)/launch/camera.launch"/>
    <include file="$(find mr_roboto)/launch/wiimote_control.launch"/>
    <include file="$(find mr_roboto)/launch/cartographer.launch"/>
    <include file="$(find mr_roboto)/launch/tactile_sensor.launch"/>
</launch>