<!-- http://wiki.ros.org/rtabmap_ros/Tutorials/HandHeldMapping#:~:text=realsense%20d435i%2Fl515 /-->

<launch>
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
    </include>
    
    <remap from="/imu/data_raw" to="/camera/imu"/>
    <remap from="/imu/data" to="/rtabmap/imu"/>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>
        <param name="world_frame" value="enu"/>  
    </node>

</launch>