<launch>
  <node pkg="sc_mini" type="sc_mini" name="sc_mini" output="screen">
    <param name="frame_id" type="string" value="laser"/>
    <param name="port" type="string" value="/dev/xrlidar"/>
    <param name="baud_rate" type="int" value="115200"/>
	  <param name="inverted"        type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
 <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.04 0 0.18 0 0 0  /base_link /laser  100"/>
</launch>
